<div style="right:0px; width:100%; height:100%;position:absolute;">

<ul id="padlist" class="padlist">
	<% pads.forEach(function(pad){ %>
		<li><a href="/p/<%= pad %>"> <%= pad %> </a></li>
	<% }) %>

</ul>
</div>
